html,body{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
#header{
    line-height: 30px;
    background : green ;
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
}
#header .nav .nav-item:first-child{
    font-size: 25px;
    text-align: center;
}

#header .nav .nav-item{
    float: left;
    display: inline-block;
    padding: 0px 20px;
    color: white;
}

#header .nav .nav-item:hover{
    font-weight: bold;
    background: blue;
}
#header .nav-1{
    display: none;
    text-align: center;
}
#header .nav-item:hover .nav-1{
    display: block;
}
/*#aside {*/
/*    margin-top: 60px;*/
/*    width: 30%;*/
/*    float: left;*/
/*    box-sizing: border-box;*/
/*    display: inline-block;*/
/*}*/
/*#section {*/
/*    margin-top: 60px;*/
/*    width: 70%;*/
/*    float: left;*/
/*    box-sizing: border-box;*/
/*    display: inline-block;*/
/*}*/
/*#section .box{*/
/*    width: 25%;*/
/*    height: 200px;*/
/*    float: left;*/
/*}*/
/*#section .box img{*/
/*    width: 95%;*/
/*    height: 150px;*/
/*}*/
#footer{
    height: 60px;
    clear: both;
    background: green;
    color: white;
    text-align: center;
    line-height: 60px;
}