
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #20c997;
}
nav {
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #86b7fe;
    margin-bottom: 10px;
}

.main {
    display: flex;

}
.main div{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.main aside{
    margin-left: 10px;
    width: 40%;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: rosybrown;
    margin-bottom: 10px;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: #565e64;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b02a37;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 60px;
    background: #146c43;
}