<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Service</title>
</head>
<body>
<h1>Create Service</h1>
<p>
  <a href="/service/list">Back to Service list</a>
</p>
  <p style="color: green" th:text="${msg}"></p>
<form action="/service/create" th:object="${serviceDto}" method="post">
  <table>
    <tr>
      <td>Service Name:</td>
      <td><input type="text" th:field="*{name}"/></td>
      <td><span style="color: red" th:errors="*{name}"></span></td>

    </tr>
    <tr>
      <td>Area:</td>
      <td><input type="text" th:field="*{area}"/></td>
      <td><span style="color: red" th:errors="*{area}"></span></td>
    </tr>
    <tr>
      <td>Cost:</td>
      <td><input type="text" th:field="*{cost}"/></td>
      <td><span style="color: red" th:errors="*{cost}"></span></td>
    </tr>
    <tr>
      <td>Max People:</td>
      <td><input type="text" th:field="*{maxPeople}"/></td>
      <td><span style="color: red" th:errors="*{maxPeople}"></span></td>
    </tr>
    <tr>
      <td>Rent type:</td>
      <td>
        <select th:field="*{rentType}">
          <option th:each="r : ${rentType}" th:value="${r.id}" th:text="${r.name}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Service Type:</td>
      <td>
        <select th:field="*{serviceType}">
          <option th:each="s : ${serviceType}" th:value="${s.id}" th:text="${s.name}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Standard Room:</td>
      <td><input type="text" th:field="*{standardRoom}"/></td>
      <td><span style="color: red" th:errors="*{standardRoom}"></span></td>
    </tr>
    <tr>
      <td>Description Other Convenience:</td>
      <td><input type="text" th:field="*{descriptionOtherConvenience}"/></td>
      <td><span style="color: red" th:errors="*{descriptionOtherConvenience}"></span></td>
    </tr>
    <tr>
      <td>Pool Area:</td>
      <td><input type="text" th:field="*{poolArea}"/></td>
      <td><span style="color: red" th:errors="*{poolArea}"></span></td>
    </tr>
    <tr>
      <td>Number Of Floor:</td>
      <td><input type="text" th:field="*{numberOfFloor}"/></td>
      <td><span style="color: red" th:errors="*{numberOfFloor}"></span></td>
    </tr>
    <tr>
      <td><input type="submit" value="Create Service"></td>
    </tr>
  </table>
</form>
</body>
</html>