<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
</head>

<body>
<p>
    <a th:href="@{/create}">
        Add new customer
    </a>
</p>
<form>
    Search by first name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>
<table class="" border="1">
    <thead>
    <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Describe</th>
        <th>Producer</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${product}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${row.id}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td th:text="${row.describes}"></td>
        <td th:text="${row.producer}"></td>
        <td>
            <a  th:href="@{/product/{id}/show(id=${row.id})}">Show</a>
            <a  th:href="@{/product/{id}/edit(id=${row.id})}">Edit</a>
            <a   th:href="@{/product/{id}/delete(id=${row.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/'(page=${product.number - 1}, search=${search})}" th:if="${product.hasPrevious()}">Previous</a>
    <span th:each="pageNo : ${#numbers.sequence(0, product.totalPages -1)}" >
        <a th:href="@{'/'(page = ${pageNo})}" th:text="${pageNo+1}"></a>
    </span>
<!--    <span th:text="${product.number + 1}"></span>/<span th:text="${product.totalPages}"></span>-->
    <a th:href="@{'/'(page=${product.number + 1}, search=${search})}" th:if="${product.hasNext()}">Next</a>
</div>
</body>
</html>