<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create contract</title>
    <link rel="stylesheet" href="../../static/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Create Contract</h1>
    <th:block th:if="${msg}">
        <p style="color: green" th:text="${msg}"></p>
    </th:block>
    <form action="/contract/create" th:object="${contractDto}" method="post">
        <table>
            <tr>
                <td>Start Date:</td>
                <td><input type="date" th:field="*{startDate}"/></td>
                <td><span style="color: red" th:errors="*{startDate}"></span></td>
            </tr>
            <tr>
                <td>End Date:</td>
                <td><input type="date" th:field="*{endDate}"/></td>
                <td><span style="color: red" th:errors="*{endDate}"></span></td>
            </tr>
            <tr>
                <td>Deposit:</td>
                <td><input type="text" th:field="*{deposit}"/></td>
                <td><span style="color: red" th:errors="*{deposit}"></span></td>
            </tr>
            <tr>
                <td>Employee:</td>
                <td>
                    <select th:field="*{employee}">
                        <option th:each="e : ${employee}" th:value="${e.id}" th:text="${e.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Customer:</td>
                <td>
                    <select th:field="*{customer}">
                        <option th:each="c : ${customer}" th:value="${c.id}" th:text="${c.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Service:</td>
                <td>
                    <select th:field="*{service}">
                        <option th:each="s : ${service}" th:value="${s.id}" th:text="${s.name}"></option>
                    </select>
                </td>
            </tr>

            <!--        <tr>-->
            <!--            <td>Total Money:</td>-->
            <!--            <td><input type="date" th:field="*{totalMoney}"/></td>-->
            <!--            <td><span style="color: red" th:errors="*{to}"></span></td>-->
            <!--        </tr>-->
            <tr>
                <td><input type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>